<!--loop for message card printing-->
<div class="row">
  <% @messages.each do |message| %>
    <div class="col-md-4">
      <%= link_to(message_path(message), class: 'message-wrap') do %>
      <div class="message">
        <div class="message-title"><%= truncate(message.content, :length => 70) %></div>
        <div class="message-info">
          <span class="name"><%= message.user.name %></span>
          <span class="detail">
            <% comment_size = message.comments.size %>
            <%= time_ago_in_words(message.created_at) %> 전<% if comment_size > 0 %>, <%= comment_size %>개의 답글<% end %>
          </span>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 pgnt">
    <%= paginate @messages %>
  </div>
</div>
