<!--show detailed message-->
<div class="message-show row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="message-wrap" id="message-box">
          <div class="content">

            <div class="text"><%= simple_format(@message.content) %></div>

            <div class="detail row">
              <div class="col-xs-6 col-md-6">
                <span class="name"><%= @message.user.name %></span>
                <span class="time"><%= time_ago_in_words(@message.created_at) %> 전</span>
              </div>
              <div class="col-xs-6 col-md-6 text-right">
                <% if user_signed_in? %>
                  <% if @message.user_id == current_user.id %>
                    <%= link_to "EDIT", edit_message_path(@message), class: 'edit' %>
                    <%= link_to "DELETE", message_path(@message), method: :delete, data: { confirm: "Are you sure?"}, class: 'edit' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="comment">
            <div class="unit">
              <% if @message.comments.size == 0 %>
                아직 답글이 없습니다.
              <% else %>
                <span class="comment-text">답글</span>
                <span class="comment-size"><%= @message.comments.size %></span>
              <% end %>
            </div>
            <% if @message.comments.size != 0 %>
              <%= render @message.comments %>
            <% end %>
            <div class="write">
              <% if user_signed_in? %>
                <%= render 'comments/form' %>
              <% else %>
                 답글을 다시려면 <%= link_to "로그인", new_user_session_path %> 하세요.
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
