<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>가입</h2>
    <hr />
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, label: "이메일", required: true, autofocus: true %>
        <%= f.input :name, label: "이름", required: true %>
        <%= f.input :old_affiliation, label: "과거 소속", placeholder: "예) 서울대 언론정보학과 95학번 등"%>
        <%= f.input :affiliation, label: "현재 소속"  %>
        <%= f.input :password, label: "비밀번호", required: true, hint: ("최소 #{@minimum_password_length}자 이상" if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: "비밀번호 확인", required: true %>
      </div>

      <div class="form-actions write-btn">
        <%= f.button :submit, "가입", class: "round-btn confirm-btn" %>
      </div>
    <% end %>
    <!-- <%= render "devise/shared/links" %> -->
  </div>
</div>

