<!DOCTYPE html>
<!--global head-->
<html>
  <head>
    <title>MyBoard</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="header" class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 nav-glb">
            <div><%= link_to "홈", root_path %></div>
            <div><%= link_to "프레젠테이션 모드", "#" %></div>
            <% if user_signed_in? %>
            <div><%= link_to "로그아웃", destroy_user_session_path, method: :delete  %></div>
            <% else %>
            <div><%= link_to "회원가입", new_user_registration_path %></div>
            <div><%= link_to "로그인", new_user_session_path %></div>
            <% end %>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12 site-title">
              강남준 선생님께<br />
              보내는 메시지
            </div>
          </div>
        </div>

        <% if user_signed_in? %>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12 msg-compose">
              <%= link_to "새 메시지 작성", new_message_path, class: "round-btn title-btn"%>
            </div>
          </div>
        </div>
        <% end %>

        <p>

        </p>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
